//.btn-primary {
//  background-color: #df5f51;
//  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df5f51), color-stop(100%, #c74b3f));
//  background-image: -webkit-linear-gradient(#df5f51, #c74b3f);
//  background-image: linear-gradient(#df5f51,#c74b3f);
////  border-radius: 3px;
//  color: white;
////  height: 3.125em;
////  line-height: 3.125em;
////  font-size: 1.125em;
////  text-align: center;
//}
//
//.btn:hover {
//  border-bottom: none;
//  color: white;
//  background-color: #e37367;
//  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e37367), color-stop(100%, #cd5e53));
//  background-image: -webkit-linear-gradient(#e37367, #cd5e53);
//  background-image: linear-gradient(#e37367,#cd5e53);
//}

.btn {
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  @include border-left-radius(0px);
  @include border-right-radius(0px);
}

h1.brand {
  font-weight: 200;
  font-size: 40px;
  text-align: center;
  color: #DBDBDB;
  text-shadow: 0 -1px 1px #FFFFFF, 0 1px 1px #666666;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.05);
}

.btn-compose {
  margin: auto;
  display: inherit;
  width: 210px;
  margin-top: 20px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body, #wrapper, #page-content-wrapper {
  height: 100%;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d9edf7;
}