<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MeshMail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>




        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(assets) styles/screen.css -->
        <link rel="stylesheet" href="styles/screen.css">
        <link rel="stylesheet" href="styles/magic.min.css">
        <link rel="stylesheet" href="styles/simple-sidebar.css">
        <link rel="stylesheet" href="styles/font.css">

        <link rel="stylesheet" href="styles/font-awesome-4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css">

        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="bower_components/momentjs/min/moment.min.js"></script>
        <script src="scripts/jquery.rowlink.js"></script>

        <!-- endbuild -->
        {% block header_scripts %}
        {% endblock header_scripts %}

    </head>

{% block body_tag %}
<body class="login">
{% endblock body_tag %}

{% block body_start %}

    {% for key,messages in flash() %}

        {% if key == 'error' %}

            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}

        {% elseif key == 'success' %}

            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

        {% else %}

            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}

        {% endif %}
    {% endfor %}

{% endblock body_start %}

{% block body %}
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div id="wrapper">
    <div id="sidebar-wrapper">
        <h1 class="brand">MeshMail</h1>
        <a href="/compose" class="btn-compose btn btn-danger">Compose</a>
        <ul class="sidebar-nav">
            <li><a href="/"><i class="fa fa-inbox"></i> INBOX {% if mail_count %}<span class="badge pull-right">{{ mail_count }}</span>{% endif %}</a> </li>
            <!--<li style="margin-top: 40px"><a href="/settings"><i class="fa fa-cog"></i> Settings</a> </li>-->
            <li style="margin-top: 40px"><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="content-header">
            {% block content_header %}
            <h1>MeshMail</h1>
            {% endblock content_header %}
        </div>
        {% for key,messages in flash() %}

        {% if key == 'error' %}

        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% elseif key == 'success' %}

        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% else %}

        {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %}

        {% endif %}
        {% endfor %}
        <div class="page-content inset">

            {% block container %}
            <div class="{% block container_class %}container-fluid{% endblock container_class %}">
                {% block header %}
                {% endblock header %}
                {% block mainmenu %}
                {% endblock mainmenu %}

                <div class="content">
                    {% block page_header %}
                    {% endblock page_header %}

                    {% block breadcrumbs %}
                    {% endblock %}

                    {% block content %}
                    {% block content_header %}{% endblock content_header %}
                    {% block content_full_width %}
                    <div class="row-fluid">
                        <div class="span8">
                            {% block content_left %}
                            {% endblock content_left %}
                        </div>
                        <div class="span4">
                            {% block content_sidebar %}
                            {% endblock content_sidebar %}
                        </div>
                    </div>
                    {% endblock content_full_width %}
                    {% endblock content %}
                </div>

            </div>
            {% endblock container %}


            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<p class="lead">This simple sidebar template has a hint of JavaScript to make the template responsive. It also includes Font Awesome icon fonts.</p>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<p class="well">The template still uses the default Bootstrap rows and columns.</p>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<p class="well">But the full-width layout means that you wont be using containers.</p>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<p class="well">Three Column Example</p>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<p class="well">Three Column Example</p>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<p class="well">You get the idea! Do whatever you want in the page content area!</p>-->
                <!--</div>-->
            <!--</div>-->


        </div>
    </div>
</div>







        <!--{% block navbar %}-->
        <!--<nav class="navbar navbar-default" role="navigation">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">MeshMail</a>-->
            <!--</div>-->

            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active"><a href="#">Start</a></li>-->
                    <!--<li><a href="/login">Login</a></li>-->
                    <!--<li><a href="/splash">Splash</a></li>-->
                    <!--<li><a href="/bootstrap">Bootstrap</a></li>-->
                    <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                            <!--&lt;!&ndash;&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Another action</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">One more separated link</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
                <!--&lt;!&ndash;<form class="navbar-form navbar-left" role="search">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="text" class="form-control input-sm" placeholder="Search">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="submit" class="btn btn-default btn-sm">Submit</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Link</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Action</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Another action</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        <!--</nav>-->
        <!--{% endblock navbar %}-->


{% endblock body %}
{% block footer_script %}

{% endblock footer_script %}


    </body>
</html>