<html style="background-color:#F2F2F2;">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>
<body style="background-color:#F2F2F2;padding-top:65px;padding-bottom:65px;text-align:center;font-family:Helvetica Neue, Arial, Helvetica, sans-serif;" >
<table class="container" align="center" cellspacing="0" border="0" cellpadding="0" width="580" bgcolor="#FFFFFF" style="width:580px;background-color:#FFF;border-top: 1px solid #DDD; border-bottom: 1px solid #DDD" >
    <tr>
        <td class="title" style="padding-top:34px;padding-left:39px;padding-right:39px;text-align:left;border-left-width:1px;border-left-style:solid;border-left-color:#DDD;border-right-width:1px;border-right-style:solid;border-right-color:#DDD;" >
            <h2 style="font-family:Helvetica Neue, Arial, Helvetica, sans-serif;font-size:30px;color:#262626;font-weight:normal;margin-top:0;margin-bottom:13px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;letter-spacing:0;" >Welcome to MeshMail</h2>
            <h3 style="font-family:Helvetica Neue, Arial, Helvetica, sans-serif;font-size:14px;color:#3e434a;font-weight:normal;margin-top:0;margin-bottom:19px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;line-height:25px;" >Thank you for signing up for MeshMail. You can login using your username <strong>{{ email }}</strong> and entering the following unlock code</h3>
            <!--<h3 style="font-family:Helvetica Neue, Arial, Helvetica, sans-serif;font-size:16px;color:#3e434a;font-weight:normal;margin-top:0;margin-bottom:19px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;line-height:25px;" >.</h3>-->
        </td>
    </tr>
    <tr>
        <!--F1FAFE-->
        <td class="cta" align="left" style="background-color:#F0F1F5;font-size:14px;color:#1f1f1f;border-top-width:1px;border-top-style:solid;border-top-color:#DAE3EA;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#DAE3EA;border-left-width:1px;border-left-style:solid;border-left-color:#DDD;border-right-width:1px;border-right-style:solid;border-right-color:#DDD;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:20px;padding-bottom:20px;padding-right:39px;padding-left:39px;text-align:left;" >
            <table cellspacing="0" border="0" cellpadding="0" width="500" align="left">
                <tr>
                    <td width="24"><img src="cid:registration_safe" width="64" height="64" /></td>
                    <td class="link" align="center" style="font-family:Helvetica Neue, Arial, Helvetica, sans-serif;padding-left:9px; font-size: 36px;color: #5E5E5E; letter-spacing: 8px" ><strong>{{ code|raw }}</strong></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="footer" style="color:#797c80;font-size:12px;border-left-width:1px;border-left-style:solid;border-left-color:#DDD;border-right-width:1px;border-right-style:solid;border-right-color:#DDD;padding-top:23px;padding-left:39px;padding-right:13px;padding-bottom:23px;text-align:left;" >
            <!--<p style="font-family:Helvetica Neue, Arial, Helvetica, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:13px;padding-right:0;padding-left:0;line-height: 20px;" >-->
                <!--Open your MeshMail client and enter the unlock code when prompted. After finishing registration you can log in with your chosen credentials.-->
            <!--</p>-->
            <p style="font-family:Helvetica Neue, Arial, Helvetica, sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:3px;padding-right:0;padding-left:0;line-height: 20px;" >If you need any help, feel free to visit <a href="http://meshmail.org" style="color: #2b6cb5;">meshmail.org</a>. We hope you'll have a plesant experience using Meshmail.</p>
        </td>
    </tr>
    <tr>
</table>
<br/>
<br/>
<br/>
<br/>
</body>
</html>