{% extends "./layouts/main.html" %}

{% block body_tag %}
<body class="login">
{% endblock %}

{% block body %}

<div class="modal-box bootstrap-box">
<h3>Enter Bootstrap Node</h3>

    <form action="/bootstrap" method="POST" role="form">
        <div class="form-group">
            <label for="ip_port">IP address and port</label>
            <input type="text" class="form-control" id="ip_port" name="ip_port" placeholder="192.168.178.1:12345" value="{{ lastBootstrap }}">
        </div>
        <!--<div class="form-group">-->
            <!--<label for="exampleInputPassword1">Port</label>-->
            <!--<input type="text" class="form-control" id="exampleInputPassword1" name="port" placeholder="Port">-->
        <!--</div>-->
        <input type="submit" class="btn btn-danger btn-block btn-lg" value="Bootstrap" />
    </form>
</div>


{% endblock %}

{% block header_scripts %}
<script>
    $(document).ready(function() {
        $('#ip_port').focus();
    });
</script>
{% endblock header_scripts %}