{% extends "./layouts/main.html" %}

{% block content_header %}
<h1>Compose</h1>
{% endblock content_header %}

{% block content %}
<br />
<br />
<form action="/compose" method="POST" role="form">
    <div class="form-group">
        <label for="recipient">To:</label>
        <input type="text" class="form-control" id="recipient" name="recipient" placeholder="someone@somewhere.de">
    </div>
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject ...">
    </div>
    <textarea id="body" name="body" placeholder="Enter text ..." style="width: 100%; min-height: 150px; margin-top: 20px; border: 1px solid rgb(204, 204, 204); padding: 10px;"></textarea>
    <input type="submit" class="btn btn-danger btn-lg pull-right" value="Send" style="margin-top: 20px; padding-left: 40px; padding-right: 40px" />
</form>

<script type="text/javascript">
    $('#body').wysihtml5();
</script>

{% endblock %}

{% block body_start %}
{% endblock body_start %}