{% extends "./layouts/main.html" %}

{% block content_header %}
<h1>Inbox</h1>
{% endblock content_header %}

{% block content %}

    <h3>Welcome, {{ user.username }}!</h3>

    <table id="mails" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody class="rowlink" data-link="row">

        {% if mails.length == 0 %}
            <tr>
                <td colspan="3" style="text-align: center">You've got <b>NO</b> mail.</td>
            </tr>
        {% endif %}

        {% for mail in mails %}
            <tr data-id="{{ mail }}">
                <td colspan="3"><i class="fa fa-spinner fa-spin fa-fw"></i> {{ mail }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}

{% block body_start %}
{% endblock body_start %}

{% block header_scripts %}
<script>

    function getMail(item, id) {
        var request = $.ajax({
            url: "/mail",
            type: "POST",
            data: {id : id},
            dataType: "json"
        });

        request.done(function(mail) {
            console.log(id, mail);

            $(item).replaceWith("<tr><td><a href=\"/mail?id=" + id + "\">" + mail.from + "</a></td><td><a href=\"/mail?id=" + id + "\">" + mail.subject + "</a></td><td>" + moment(mail.date).fromNow() + "</td></tr>");
        });

        request.fail(function(jqXHR, textStatus) {
            console.log( "Request failed: " + textStatus );
        });
    }

    $(document).ready(function() {

        $('#mails tr').each(function(key, item) {
            var id = $(item).data('id');
            if (id != undefined) {
                getMail(item, id);
            }
        });
    });
</script>
{% endblock header_scripts %}