{% extends "./layouts/main.html" %}

{% block body_tag %}
    <body class="login">
{% endblock %}

{% block body %}

<div class="modal-box login-box">
    <h3>MeshMail Login</h3>

    <form action="/login" method="POST" role="form">
        <div class="form-group">
            <label for="username">E-Mail-Address</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="E-Mail">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <input type="submit" class="btn btn-danger btn-block btn-lg" value="Log In" />
    </form>
    <a class="register-link" href="/register">Register new account</a>
</div>


{% endblock %}

{% block header_scripts %}
<script>
$(document).ready(function() {
    $('#username').focus();
});
</script>
{% endblock header_scripts %}