{% extends "./layouts/main.html" %}

{% block content_header %}
<h1>Read</h1>
{% endblock content_header %}

{% block content %}
    <br />
    <br />
    <table id="mails" class="table table-bordered">
        <tbody>
            <tr>
                <td>From</td>
                <td>{{ mail.from }}</td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>{{ mail.subject }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ mail.date }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ mail.body|raw }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}

{% block body_start %}
{% endblock body_start %}

{% block header_scripts %}
{% endblock header_scripts %}