{% extends "./layouts/main.html" %}

{% block body_tag %}
    <body class="login">
{% endblock %}

{% block body %}

<div class="modal-box register-box">
    <h3>MeshMail Registration</h3>

    <form action="/register" method="POST" role="form">
        <div class="form-group">
            <label for="exampleInputEmail1">E-Mail-Address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="E-Mail">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Repeat Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="password_repeat" placeholder="Repeat Password">
        </div>
        <input type="submit" class="btn btn-danger btn-block btn-lg" value="Register" />
    </form>
    <a class="login-link" href="/login">Already have an account?</a>
</div>


{% endblock %}