{% extends "./layouts/main.html" %}

{% block content_header %}
<h1>Settings</h1>
{% endblock content_header %}

{% block content %}

    <h1>Grumpy wizards make toxic brew for the</h1>
        <a href="/logout">Logout</a>

{% endblock %}