{% extends "./layouts/main.html" %}

{% block body_tag %}
    <body class="splash">
{% endblock %}

{% block body %}

<div class="splash-box">
    <img class="pull-left" src="/images/icon-mail.png" />
    <div class="program-info pull-right">
        <h1>MeshMail</h1>
        <h4>Peer-to-Peer E-Mail</h4>

        <div class="bar"></div>
        <!--<div class="progress">-->
            <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">-->
                <!--<span class="sr-only">60% Complete</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<p>Loading ...</p>-->

        <!--<form class="login-form" role="form">-->
            <!--<div class="form-group">-->
                <!--<label for="exampleInputEmail1">E-Mail-Address</label>-->
                <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-Mail">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="exampleInputPassword1">Private-Key-Password</label>-->
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-danger btn-block btn-lg">Log In</button>-->
        <!--</form>-->
    </div>
</div>

<script>

    $(document).ready(function(){
        alert("HERE");
    });

</script>

{% endblock %}