body.login {
//  background-image: url('/images/splash2.jpg');
//  background-size: cover;

  @include background-image( radial-gradient(#ffffff, #bebebe) );

  div.login-box {
    width: 400px;
    height: 289px;
  }

  div.register-box {
    width: 400px;
    height: 365px;
  }

  div.bootstrap-box {
    width: 400px;
    height: 216px;
  }

  div.modal-box {

    background-color: #ffffff;

//    @include background-image(linear-gradient(50deg, #4183d4 0%, #214b81 100%));

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

//    -webkit-box-shadow: 0 -30px 30px -4px #999;
//    -moz-box-shadow: 0 -30px 30px -4px #999;
    box-shadow: 0 0px 20px -4px #999;
//    margin: 0 auto;
//    max-width: 1280px;
//    max-width: 978px;

    h3 {
      margin: 20px 0;
      text-align: center;

      @include background-image( radial-gradient(#dadada, #c1c1c1) );

      padding: 10px;
    }

    form {
      margin: 10px;


      button[type=submit] {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .register-link, .login-link {
    padding-top: 20px;
    text-align: center;
    display: block;
  }
}

