body.splash {

  @include background-image( radial-gradient(#ffffff, #bebebe) );

  div.splash-box {
//    width: 25%;
//    height: 50%;

    @include background-image(radial-gradient(50% 50%, circle cover, #ffffff, #e9e9e9));

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 550px;
    height: 310px;

    padding: 30px;
    margin: auto;

    color: #777777;

    box-shadow: 0 0px 20px -4px #999;

    img {
      width: 40%;

      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    div.program-info {
      width: 40%;
      height: 100%;
      position: relative;
      margin-right: 20px;
    }

    .login-form {
      display: none;
    }

    h1 {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      filter: dropshadow(color=#000000, offx=1, offy=1);
      margin-top: 85px;
    }

    h4 {
      margin-top: 0px;
    }

    div.bar {
      @include background-image(linear-gradient(to right, #d2322d, rgba(0, 0, 0, 0)));
      height: 3px;
      width: 80%;
    }

    .progress {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 34px;
    }
  }
}

