#wrapper {
  padding-left: 250px;
  /*transition: all 0.4s ease 0s;*/
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #191818;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  /*transition: all 0.4s ease 0s;*/

  -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
}

#page-content-wrapper {
  /*width: 100%;*/
    margin: 0 10px;
    background: white;

    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
}

#page-content-wrapper .alert {
    margin-top: 20px;
    margin-bottom: 0;
}

.sidebar-nav {
  position: absolute;
  top: 137px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li i.fa {
    font-size: 16px;
    margin-right: 10px;
    text-indent: 0px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a span.badge {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    text-indent: 0;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  border-left: 5px solid #d2322d;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  /*line-height: 65px;*/
  display: inline-block;

    font-size: 48px;
    line-height: 48px;
    padding-right: 40px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    vertical-align: bottom;
    padding-top: 20px;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 0 20px 20px 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}
